.languages-section {
    max-width: 800px;
    margin: 20px auto;
}

.language {
    width: calc(100% - 40px);
    margin: 0 auto 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.language h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.language ul {
    list-style-type: none;
    padding: 0;
}

.language ul li {
    font-size: 16px;
    margin-bottom: 5px;
}
